*{
    box-sizing: border-box;
}

body{
    max-width: 100%;
    font-family: "DM Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 32px;
    gap:60px
}

.main-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header-text:hover{
    color: darkgray;
}

.header-menu{
    display: flex;
    flex-direction: column;
    gap: 34px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    
}

.hidden-menu{
    width: 80%;
    display:none;
    align-items: center;
    flex-direction: column;
    gap:20px
 }

 .close{
    display: none;
    position: relative;
    left: -21px;
    top: 3px;
 }

 .top-line{
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 25%;
}

.button{
    display:block;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.button:hover{
      background-color: #DFDFDF;
      color: #000000;
}


.mobile-hero{
    width: 100%;
}


.black-box{
    width: 100%;
    height: 300px;
   background-color: black;
}

.line{
    width: 128px;
    height: 6px;
    background: linear-gradient(90deg,#FFC593 ,#BC7198 ,#5A77FF );
    margin: 0 28px;
}


#pricing{
    width: 318px;
    height: 40px;
    font-weight: 700;
     font-size: 32px;
     line-height: 40px;
     letter-spacing: 3.3px;
     color: #FFFFFF;
}

#paragraph{
    width: 318px;
    height: 100px;
    font-weight: 400;
    opacity: 60%;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.text{
    padding: 65px 28px;
    display: grid;
    grid-row-gap: 16px;
}

 /* toggle button */

.check-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    margin:100px 0 63px;
    font-size: 18px;
    font-weight: 700;
}

.toggle{
    width: 64px;
    height: 35px;
    border-radius: 30px;
    background-color: #DFDFDF;
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.toggle-active{
    width: 64px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #000000;
}

.toggle-button-active{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #DFDFDF;
    margin-left: 29px;
    
}


.toggle-button{
    width: 24px;
    height: 24px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}



 /* footer top section */
.footer-top{
    width: 100%;
    height: 288px;
    background-image: url("./assets/shared/mobile/bg-beta.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 58px;
    margin-top: 65px;
}

.text-beta{
    width: 314px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3.33px;
    text-transform: uppercase;
}

.arrow-top{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 137px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.tick-list-container{
    width: 318px;
    display: flex;
    flex-direction: column;
    /* gap: 23px; */
    margin-top: 64px;
}

.compare{
    display: none;
}

.Features{
    width: 140px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 23px;
}

.line-grey{
    width: 100%;
    height: 2px;
    color: #000000;
    margin-bottom: 23px;
}

.tick-header{
    display: grid;

}

.story{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}

.list{
    color: #000000;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.67px;
    opacity: 50%;
}
.under-line{
    width: 100%;
    background-color: #DFDFDF;
    height: 2px;
    opacity: 50%;
    margin-bottom: 23px;
}

.check{
    margin: 8px 0 24px;
    display: flex;
    gap: 30%;
    margin-left: -75px;
}

#two-check{
    margin-left: 119px;
    gap: 103px;
}

#one-check{
    display: flex;
    justify-content: flex-end;
    margin-right: 59px
}

.category{
    display: flex;
    gap: 25%;
}

.category-hidden{
    display: none;
}
/* footer section */

.text-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:156px;
    margin-top: 20px;
}

.footer-text{
    color: #FFFFFF;
    text-decoration: none;
}

.arrow-box{
    display: flex;
    flex-direction: row;
}


.arrow{
    width: 42px;
    height: 1px;
    background-color: #ffff;
    position: absolute;
}

.charset{
    font-size: 35px;
    color: #fff;
}

.footer-container{
    background-color: black;
    width: 100%;
    height: 539px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
}

.social-logo{
    display: flex;
    gap: 14px;
    justify-content: space-between;
    margin-top: 34px;
}

.social-logo-details{
    filter: brightness(0) invert(1);
}

.page{
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    margin-top: 50px;
    text-transform: uppercase;
}

.invite{
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
}

.footer-charset{
    font-size: 35px;
    color: #fff;
}

.footer-arrow-box{
    margin-top: 119px;
    display: flex;
    align-items: center;
    gap:18px
}

.footer-arrow{
    width: 42px;
    height: 1px;
    background-color: #ffff;
    position: absolute;
}

.copyright-date{
    width: 255px;
    height: 20px;
    color: darkgrey;
    font-size: 15px;
    font-weight: 400;
    margin-top: 34px;
}

.left-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

/* text container */
.container-box{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.price-container{
    width: 318px;
    height: 407px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 36px 40px 36px;
}

.basic{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.platform{
    width: 275px;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    opacity: 60%;
    text-align: center;
    margin-top: 18px;
}

.price{
    width: 245px;
    font-size: 40px;
    font-weight:700;
    letter-spacing: 4.17px;
    text-align: center;
    margin-top: 40px;
}

.price-one{
    width: 245px;
    font-size: 40px;
    font-weight:700;
    letter-spacing: 4.17px;
    text-align: center;
    margin-top: 40px;
}
.price-two{
    width: 245px;
    font-size: 40px;
    font-weight:700;
    letter-spacing: 4.17px;
    text-align: center;
    margin-top: 40px;
}

.month{
    width: 245px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color:#000000;
    opacity: 60%;
    margin-top: 10px;
    
}

.plan:hover{
    background-color: #DFDFDF;
    color: #000000;
}

.plan{
    width: 245px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #000000;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

#black-container{
    color: #FFFFFF;
    background-color: #000000;
}

#text { 
    color: #FFFFFF;
}

#per-month{
  color: #FFFFFF;
}

#button{
    background-color:#FFFFFF;
    color: #000000;
}

#button:hover{
    background-color:#DFDFDF;
}

.box-line{
    width: 318px;
    height: 6px;
    background: linear-gradient(90deg,#FFC593 ,#BC7198 ,#5A77FF );
    transform: translateY(-64px);
}


@media screen  and (min-width: 768px){
    .header-logo{
        width: 142px;
        margin-right: 43px;
    }
    
    .header{
        width: auto;
        flex-direction: row;
    }
    
    .header-menu{
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 34px;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 2px;
    }
    
    .hidden-menu{
        display: flex;
        flex-direction: row;
    }

    .logo-menu{
        display: none;
    }
    
    .top-line{
        display: none;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        gap:34px;
    }
    
    .button{
        display: block;
        width: 158px;
        height: 40px;
        background-color: black;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
        border: none;
        margin-left: 53px;
    }
 
    .mobile-hero{
        display: none;
    }

    .tablet-hero{
        display: block;
    }

    .desktop-hero{
        display: none;
    }

    .black-box{
        width: 100%;
        height: 490px;
        background-image: url("./assets/pricing/tablet/hero.jpg");
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        align-items: center;
    }

    #pricing{
        font-size: 40px;
        line-height: 48px;
    }
    .text{
        width: 387px;
        padding: 173px 98px;
        grid-row-gap: 21px,
    }

    .line{
        width: 6px;
        height: 280px;
        margin: 0;
    }
 
    .compare{
        display: block;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 4.17px;
        text-align: center;
        margin-bottom: 64px;
    }

    .tick-list-container{
        width: 689px;
        gap: 0;
    }

    .category{
        display: none;
    }

    .category-hidden{
        display: flex;
        gap: 91px;
        margin-left: 189px;
    }

    .two-check-cont{
        display: flex;
        align-items: center;
    }

    .one-check-cont{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .story{
        margin-bottom: 0;
        width: 241px;
    }

    #two-check{
        margin-left: 237px;
        gap: 114px
    }

    .features-position{
        display: flex;
        flex-direction: row;
    }

    .line-grey{
        width: 689px;
    }

    .position{
        display: flex;
        align-items: center;
    }

    .check{
        display: flex;
        justify-content: space-between;
        gap: 115px;
        margin-left: 133px;
    }

   
    .footer-top{
        height: 280px;
        background-image: url("./assets/shared/tablet/bg-beta.jpg");
        background-repeat: no-repeat;
        flex-direction: row;
        gap:0;
        margin-top: 150px;
    }

    .text-container{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 0;
        gap:150px;
        /* padding: 50px; */

    }

    .arrow-top{
        margin-right: 0;
    }

    /* footer section 768px */

    .text-footer{
        gap:150px;
    }
    
    .footer-container{
        flex-direction: row;
        height: 284px;
        justify-content: space-between;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        gap: 103px;
        position: relative;
    }
    
    .social-logo{
        margin: auto;
        gap: 16px;
    }
    
    .page{
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-top: -31px;
        gap: 25px;
    }
    
    .left-text{
        gap: 104px;
        align-items: end;
    }
    
    .copyright-date{
        margin: 0;
        text-align: end;
    }
    .footer-arrow-box{
        margin: 0;
        justify-content: flex-end;
    }


    .price-container{
        width: 689px;
        height: 270px;
    }

    .right-position{
        position: relative;
        left: 229px;
        bottom: 137px;
    }

    .left{
        position: relative;
        left: -187px;
        bottom: 10px;
    }

    .plan{
        margin-top: -69px;
        margin-left: -374px;
    }

    .box-line{
        transform: translate(-21px, -54px);
        width: 6px;
        height: 270px;
        position: absolute;
    }

    }


 @media screen  and (min-width: 1250px){
    .black-box{
        height: 490px;
        background-image: url("./assets/pricing/desktop/hero.jpg");
    }

    /* .footer-top{
        gap: 171px;
        
     } */

        /* footer section 1440px */
    .footer-container{
        padding: 64px 171px;
     }
        
    .page{
        flex-direction: column;
        position: unset;
        gap: 29px;
        margin: 0 369px 0 0;
    }

    /* .container-box{
        display: flex;
        align-items: center;
        flex-direction: row;
    } */

    .container-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:30px;
    }
    
    .price-container{
        width: 318px;
        height: 407px;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px 36px 40px 36px;
    }
    
    .basic{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    
    .platform{
        width: 275px;
        font-weight: 400;
        font-size: 15px;
        color: #000000;
        opacity: 60%;
        text-align: center;
        margin-top: 18px;
    }
    
    .price{
        width: 245px;
        font-size: 40px;
        font-weight:700;
        letter-spacing: 4.17px;
        text-align: center;
        margin-top: 40px;
    }
    
    .month{
        width: 245px;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        color:#000000;
        opacity: 60%;
        margin-top: 10px;
        
    }
    
    .plan{
        width: 245px;
        height: 40px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        background-color: #000000;
        border: none;
        margin-top: 40px;
        margin-left: auto;
    }
    
    #black-container{
        color: #FFFFFF;
        background-color: #000000;
        height: 470px;
    }
    
    #text { 
        color: #FFFFFF;
    }
    
    #per-month{
      color: #FFFFFF;
    }
    
    #button{
        background-color:#FFFFFF;
        color: #000000;
    }
    
    .box-line{
        width: 318px;
        height: 6px;
        background: linear-gradient(90deg,#FFC593 ,#BC7198 ,#5A77FF );
        transform: translateY(-65px);
        position: inherit;
    }
    
     .right-position, .left{
        position: inherit;
     }



}


    
