*{
    box-sizing: border-box;
}
body{
    max-width: 100%;
    font-family: "DM Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 32px;
    gap:60px
}

.header-text{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header-text:hover{
    color: darkgray;
}

.main-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .hidden-menu{
    width: 80%;
    display:none;
    align-items: center;
    flex-direction: column;
    gap:20px
 }

 .close{
    display: none;
    position: relative;
    left: -21px;
    top: 3px;
 }

.header-menu{
    display: flex;
    flex-direction: column;
    gap: 34px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    
}

.top-line{
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 25%;
}

.button{
    display:block;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
}

.black-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.black-text-container{
    height:495px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 50px 30px;
}

.tablet-moon-poto{
    display: none;
}

.desktop-moon-poto{
    display: none;
}

.story{
height: 16px;
font-size: 12px;
line-height: 16px;
letter-spacing: 2px;
}

.full-moon{
    width: 274px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 16px;
}

.info{
    width: 318px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 16px;
    color: darkgray;
}

#paragraph-info{
    margin-top: 24px;
}

.black-box-footer{
    display: flex;
    align-items: center;
    gap:16px;
    margin-top: 24px;
}

.mobile-photo{
    width: 100%;
    height: 100%;
}

.desktop-photo{
    width: 100%;
}

.photo-container{
    width: 100%;
    display: grid;
}

.photos{
    height: 100%;
}

.background-photo{
    position: relative;
    height: 100%;
}

#horse{
    background-color: black;
}

.running-free{
    width: 100%;
    height: 100%;
    opacity: .6;
}

.photo-text{
    /* width: 292px; */
    position: absolute;
    margin-top: -200px;
    color: white;
    margin-left: 40px
}

.date{
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.photo-name{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 4px;
}

.avtor{
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 4px;
}

.underline{
    margin-top: 16px;
    background-color:#fff;
    height: 1px;
    opacity: 25%;
}

.read-story{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
}

.text-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:156px;
    margin-top: 20px;
}

.arrow-box{
    display: flex;
    flex-direction: row;
}

.arrow{
    width: 42px;
    height: 1px;
    background-color: #ffff;
    position: absolute;
}

.charset{
    font-size: 35px;
    color: #fff;
}

.footer-container{
    background-color: black;
    width: 100%;
    height: 539px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
}

.social-logo{
    display: flex;
    gap: 14px;
    justify-content: space-between;
    margin-top: 34px;
}

.social-logo-details{
    filter: brightness(0) invert(1);
}

.active-page{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
    
.active-page:hover{
    color: darkgray;
}


.page{
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    margin-top: 50px;
    text-transform: uppercase;
}

.invite{
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
}

.footer-charset{
    font-size: 35px;
    color: #fff;
}

.footer-arrow-box{
    margin-top: 119px;
    display: flex;
    align-items: center;
    gap:18px
}

.footer-arrow{
    width: 42px;
    height: 1px;
    background-color: #ffff;
    position: absolute;
}

.copyright-date{
    width: 255px;
    height: 20px;
    color: darkgrey;
    font-size: 15px;
    font-weight: 400;
    margin-top: 34px;
}

.left-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.desktop-photo{
    display: none;
}


@media screen and (min-width: 700px){
    .photo-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
        
}


@media screen and (min-width: 768px){
.header-logo{
    width: 142px;
    margin-right: 43px;
}

.header{
    width: auto;
    flex-direction: row;
}

.header-text{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header-menu{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
}

.hidden-menu{
    display: flex;
    flex-direction: row;
}
.logo-menu{
    display: none;
}

.top-line{
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    gap:34px;
}

.button{
    display: block;
    width: 158px;
    height: 40px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    margin-left: 53px;
}

.mobile-moon-poto{
    display: none;
}

.desktop-moon-poto{
    display: none;
}

.tablet-moon-poto{
    display: block;
    position: relative;
}

.black-text-container{
    background-image: url("./assets/stories/tablet/moon-of-appalacia.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 90px;
}
    
.black-box{
    justify-content: center;
}

.photo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.text-footer{
    gap:150px;
}

.footer-container{
    flex-direction: row;
    height: 284px;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 103px;
    position: relative;
}

.social-logo{
    margin: auto;
    gap: 16px;
}

.page{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: -31px;
    gap: 25px;
}

.left-text{
    gap: 104px;
    align-items: flex-end;
}

.copyright-date{
    margin: 0;
    text-align: end;
}
.footer-arrow-box{
    margin: 0;
    justify-content: flex-end;
}

.running-free {
    width: 100%;
}

}


@media screen and (min-width: 1300px){
    .header{
        gap: 252px;
    }

    .desktop-moon-poto{
        display: block;
    }

    .tablet-moon-poto{
        display: none;
    }

    .black-text-container{
        background-image: url("./assets/stories/desktop/moon-of-appalacia.jpg");
        padding-left: 130px;
        background-size: cover;
    }

    .footer-container{
        padding: 64px 171px;
    }
    
    .page{
        flex-direction: column;
        position: unset;
        gap: 29px;
        margin: 0 369px 0 0;
    }

    .mobile-photo{
        display: none;
    }

    .photo-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .desktop-photo{
        display: block;
        height: 100%;
    }

    .running-free{
        display: none;
    }
    
    #desktop-horse-photo{
        opacity: .6;
    }

    .photos:hover{
       transform:translateY(-40px);
       transition: 0.2s;
       padding-bottom: 15px;
       background: linear-gradient(90deg,#FFC593 ,#BC7198 ,#5A77FF );
    } 
     
    .photo-text{
        margin-left: 40px;
    }
  
}